*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    /* border: 2px solid red; */
    width: 90%;
    max-width: 1440px;
    margin: 50px auto;
    background-color: hsl(30, 38%, 92%);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.301);
    /* padding: 100px; */
}
.card{
    /* border: 2px solid green; */
    width: 100%;
    /* margin: auto; */
    background-color: white;
    border-radius: 15px;
}
.row-card{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
}
.row{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
}
.left-card{
    /* border: 2px solid red; */
    width: 50%;
}
@media screen and (min-width: 720px) {
    .perfume-image-desktop{
        object-fit: cover;
        width: 50%;
        border-radius: 15px 0px 0px 15px;
    }
    .perfume-image-mobile{
        width: 0%;
    }
}
.right-card{
    /* border: 2px solid red; */
    padding: 30px 30px;
    width: 50%;
}
.perfume-name{
    /* border: 2px solid red; */
    padding: 10px 0;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
}
.name{
    padding: 10px 0;
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-size: 64px;
}
.price{
    padding: 20px 0;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 54px;
    /* border: 2px solid red; */
}
.before-price{
    /* border: 2px solid red; */
    margin: auto;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}
.describe{
    padding: 20px 0;
    color: hsl(228, 12%, 48%);
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.mybutton{
    /* border: 2px solid green; */
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: hsl(158, 36%, 37%);
}
.mybutton:hover{
    opacity: 0.9;
}
.btn{
    /* border: 2px solid red; */
    padding: 20px;
    margin: auto;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
@media screen and (max-width: 720px) {
    .row-card{
        flex-direction: column;
    }
    .left-card{
        width: 100%;
    }
    .right-card{
        width: 100%;
    }
    .perfume-image-desktop{
        width: 0%;
    }
    .perfume-image-mobile{
        border-radius: 15px 15px 0px 0px;
    }
}